.main {
  background-color: #444f5a;
  color: whitesmoke;
  text-align: center;
  text-transform: uppercase;
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}